Preview
Code
CSS
.container--0- {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 1920px;
  height: 6717.77001953125px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.container-0-1-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 6717.77001953125px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.container-1-2-0 {
  position: absolute;
  left: 1760px;
  top: 20px;
  width: 140px;
  height: 38px;
  justify-content: start;
  align-items: start;
}
.text-2-3-0 {
  width: 893.8900146484375px;
  height: 66px;
  color: #483953;
  font-size: 56.099998474121094px;
  font-family: Inter, "Bold";
  font-weight: 700;
  text-align: center;
  vertical-align: center;
}
.container-2-3-1 {
  position: absolute;
  left: 10.5px;
  top: 11px;
  width: 119px;
  height: 16px;
  justify-content: start;
  align-items: start;
}
.container-3-4-0 {
  position: absolute;
  left: 0px;
  top: -2px;
  width: 12px;
  height: 20px;
  justify-content: start;
  align-items: start;
}
.container-3-4-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 38px;
  opacity: 1;
  background-color: #ffffff01;
  box-shadow: 0px 0px 0px 1 #000000;
  justify-content: start;
  align-items: start;
  border-radius: 11px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}
.container-4-5-1 {
  position: absolute;
  left: 0px;
  top: 68.80000305175781px;
  width: 1000px;
  height: 84.80000305175781px;
  justify-content: start;
  align-items: start;
}
.text-5-6-0 {
  width: 567.2000122070312px;
  height: 22px;
  color: #eaf2ff;
  font-size: 16.700000762939453px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: center;
}
.text-5-6-1 {
  width: 562.719970703125px;
  height: 22px;
  color: #eaf2ff;
  font-size: 16.700000762939453px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: center;
}
.container-3-4-2 {
  position: absolute;
  left: 120px;
  top: 0px;
  width: 44px;
  height: 44px;
  background-color: #ffffff80;
  box-shadow: 0px 4px 6px 4 #b49cc5;
  justify-content: start;
  align-items: start;
  border-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.container-3-4-3 {
  position: absolute;
  left: 180px;
  top: 0px;
  width: 44px;
  height: 44px;
  background-color: #ffffff80;
  box-shadow: 0px 4px 6px 4 #b49cc5;
  justify-content: start;
  align-items: start;
  border-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.container-2-3-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 38px;
  justify-content: start;
  align-items: start;
}
.container-4-5-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 97px;
  height: 10px;
  justify-content: start;
  align-items: start;
}
.container-5-6-1 {
  position: absolute;
  left: 333.3299865722656px;
  top: 0px;
  width: 333.3299865722656px;
  height: 129px;
  justify-content: start;
  align-items: start;
}
.text-6-7-0 {
  width: 91.41999816894531px;
  height: 20.799999237060547px;
  color: #eaf2ff;
  font-size: 15.100000381469727px;
  font-family: Inter, "Bold";
  font-weight: 700;
  text-align: center;
  vertical-align: center;
}
.text-6-7-1 {
  width: 97.08000183105469px;
  height: 20.799999237060547px;
  color: #eaf2ff;
  font-size: 15.100000381469727px;
  font-family: Inter, "Bold";
  font-weight: 700;
  text-align: center;
  vertical-align: center;
}
.container-4-5-2 {
  position: absolute;
  left: 0px;
  top: 153.58999633789062px;
  width: 1000px;
  height: 84.80000305175781px;
  justify-content: start;
  align-items: start;
}
.container-4-5-3 {
  position: absolute;
  left: 0px;
  top: 238.38999938964844px;
  width: 1000px;
  height: 84.80000305175781px;
  justify-content: start;
  align-items: start;
}
.container-1-2-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 56px;
  backdrop-filter: blur(5px);
  justify-content: start;
  align-items: start;
}
.container-2-3-0 {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 138px;
  height: 36px;
  background-color: #ffffff;
  box-shadow: 0px 10px 26px -4.5 #000000,
    0px 2.288530111312866px 5.95019006729126px -3 #000000,
    0px 0.6021869778633118px 1.565690040588379px -1.5 #000000;
  justify-content: start;
  align-items: start;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container-5-6-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 97px;
  height: 10px;
  justify-content: start;
  align-items: start;
}
.container-6-7-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 97px;
  height: 10px;
  justify-content: start;
  align-items: start;
}
.container-7-8-0 {
  position: absolute;
  left: 0px;
  top: 6.561797618865967px;
  width: 120px;
  height: 18.87640380859375px;
  justify-content: start;
  align-items: start;
}
.container-4-5-4 {
  position: absolute;
  left: 0px;
  top: 323.19000244140625px;
  width: 1000px;
  height: 84.80000305175781px;
  justify-content: start;
  align-items: start;
}
.container-1-2-3 {
  position: absolute;
  left: 0px;
  top: 3862.419921875px;
  width: 1920px;
  height: 1338.780029296875px;
  background-color: #000000;
  justify-content: start;
  align-items: start;
}
.container-5-6-2 {
  position: absolute;
  left: 666.6599731445312px;
  top: 0px;
  width: 333.3299865722656px;
  height: 129px;
  background-color: #000000;
  justify-content: start;
  align-items: start;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
}
.container-4-5-5 {
  position: absolute;
  left: 0px;
  top: 407.9800109863281px;
  width: 1000px;
  height: 85px;
  justify-content: start;
  align-items: start;
}
.container-4-5-6 {
  position: absolute;
  left: 0px;
  top: 492.9800109863281px;
  width: 1000px;
  height: 84.80000305175781px;
  justify-content: start;
  align-items: start;
}
.container-4-5-7 {
  position: absolute;
  left: 0px;
  top: 577.780029296875px;
  width: 1000px;
  height: 85px;
  justify-content: start;
  align-items: start;
}
.container-4-5-8 {
  position: absolute;
  left: 0px;
  top: 662.780029296875px;
  width: 1000px;
  height: 85px;
  justify-content: start;
  align-items: start;
}
.container-4-5-9 {
  position: absolute;
  left: 0px;
  top: 747.780029296875px;
  width: 1000px;
  height: 84.80000305175781px;
  justify-content: start;
  align-items: start;
}
.container-4-5-10 {
  position: absolute;
  left: 0px;
  top: 832.5800170898438px;
  width: 1000px;
  height: 84.80000305175781px;
  justify-content: start;
  align-items: start;
}
.container-4-5-11 {
  position: absolute;
  left: 0px;
  top: 917.3699951171875px;
  width: 1000px;
  height: 129px;
  justify-content: start;
  align-items: start;
}
.container-6-7-2 {
  position: absolute;
  left: 104.6500015258789px;
  top: 84px;
  width: 124px;
  height: 21px;
  justify-content: start;
  align-items: start;
}
.container-1-2-4 {
  position: absolute;
  left: 0px;
  top: 5201.2001953125px;
  width: 1920px;
  height: 1516.56005859375px;
  background-color: #fcfcfc;
  justify-content: start;
  align-items: start;
}
.text-3-4-1 {
  width: 151.42999267578125px;
  height: 34px;
  color: #573e69;
  font-size: 31.700000762939453px;
  font-family: Inter, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: center;
}
.container-2-3-3 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 38px;
  opacity: 1;
  background-color: #ffffff01;
  box-shadow: 0px 0px 0px 1 #000000;
  justify-content: start;
  align-items: start;
  border-radius: 11px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}
.text-4-5-2 {
  width: 109.05999755859375px;
  height: 12px;
  opacity: 1;
  color: #573e69cc;
  font-size: 12px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: center;
}
.container-3-4-4 {
  position: absolute;
  left: 240px;
  top: 0px;
  width: 44px;
  height: 44px;
  background-color: #ffffff80;
  box-shadow: 0px 4px 6px 4 #b49cc5;
  justify-content: start;
  align-items: start;
  border-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.container-2-3-4 {
  position: absolute;
  left: 896.27001953125px;
  top: 92px;
  width: 127.44999694824219px;
  height: 29px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
  border-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.container-2-3-5 {
  position: absolute;
  left: 383.79998779296875px;
  top: 177px;
  width: 1152.3900146484375px;
  height: 162.41000366210938px;
  justify-content: start;
  align-items: start;
}
.text-3-4-0 {
  width: 438px;
  height: 52px;
  color: #573e69;
  font-size: 48.900001525878906px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: center;
  vertical-align: center;
}
.container-2-3-6 {
  position: absolute;
  left: 332.20001220703125px;
  top: 1237.1600341796875px;
  width: 201.22999572753906px;
  height: 48px;
  justify-content: start;
  align-items: start;
}
.text-2-3-7 {
  width: 237.47000122070312px;
  height: 20px;
  color: #573e69cc;
  font-size: 14.600000381469727px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: center;
}
.container-0-1-1 {
  position: absolute;
  left: 0px;
  top: 1144px;
  width: 1920px;
  height: 56px;
  justify-content: start;
  align-items: start;
}
.container-0-1-2 {
  position: absolute;
  left: 0px;
  top: 1122px;
  width: 1920px;
  height: 78px;
  justify-content: start;
  align-items: start;
}